.chatbotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #db0909;
    margin-bottom: 20px;
    text-align: center;
  }
  .chatbotTitle {
    font-size: 2.8rem;
    color: #030303; /* Replace with your desired color */
  }
  
  .textarea {
    width: 100%;
    max-width: 600px;
    height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    font-size: 1rem;
    border: none;
    color: rgb(255, 255, 255);
  background-color: #000000;
  }
  
  .button {
    padding: 12px 25px;
    font-size: 1rem;
    background-color: #ff7a59;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }
  
  .responseContainer {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px   
   4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 20px; 
  }
  
  .imageContainer img {
    max-width: 100%;
    border-radius: 10px;
  }